:root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: -webkit-fill-available;

  font-family: Inter, Noto Serif HK, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --neutralWhite: #ffffff;
  --neutral50: #fafafa;
  --neutral100: #f5f5f5;
  --neutral300: #d4d4d4;
  --neutral500: #888888;
  --neutral600: #525252;
  --neutral800: #262626;
  --neutralBlack: #171717;

  --primary50: #fffbeb;
  --primary100: #fef3c7;
  --primary600: #d97706;
  --primary700: #b45309;
  --primary900: #78350f;

  --secondary50: #eff6ff;
  --secondary100: #dbeafe;
  --secondary700: #1d4ed8;
  --secondary900: #1e3a8a;

  --warning100: #fef2f2;
  --warning600: #dc2626;
  --warning800: #991b1b;

  color: var(--neutralBlack);
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

p {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  font-family: "Noto Serif HK";
  color: var(--primary700);
}

h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  font-family: "Noto Serif HK";
  color: var(--neutral600);
}

h3 {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  font-family: "Noto Serif HK";
}

.font-subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-body1 {
  font-size: 22px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-body2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-label1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-label2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-caption1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0;
  font-family: "Inter";
}

.font-caption2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  font-family: "Inter";
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* max-width: 1024px; */
}

.btn {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 24px;
  padding-right: 24px;
  border: unset;
  border-radius: 4px;
  background-color: var(--primary700);
  color: var(--neutralWhite);
}

.header {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 88px;
  padding-right: 88px;
  background-color: var(--neutralWhite);
}

.headerActions {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.headerTabs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  background-color: var(--primary50);
}

.headerTab {
  color: var(--neutral800);
  background-color: unset;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 620px;
  padding-left: 88px;
  background-repeat: no-repeat;
  background-position: center;
}

.bannerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 44%;
  gap: 12px;
}

.bannerBtn {
  margin-top: 20px;
  background-color: var(--primary700);
}

.content {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(var(--primary100), var(--neutralWhite));
}

.schoolSearchBar {
  /* border-image: linear-gradient(
      to right,
      var(--primary100) 26.89%,
      #f59e0b 79.56%
    )
    1 round; */
  position: absolute;
  top: -50px;
  z-index: 99;
  display: flex;
  align-items: center;
  width: -webkit-fill-available;
  margin-left: 88px;
  margin-right: 88px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 82px;
  padding-right: 82px;
  border: 1px solid;
  border-radius: 32px;
  backdrop-filter: blur(24px);
  gap: 16px;
}

.schoolSearchBarInput {
  flex: 1;
  padding: 16px;
  border: 1px solid var(--neutral300);
  border-radius: 8px;
}

.schoolList {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 88px;
  padding-right: 88px;
  gap: 24px;
}

.schoolListItems {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.schoolListItem {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border: 1px solid var(--neutral100);
  border-radius: 8px;
  background-color: var(--neutralWhite);
}

.schoolListBtn {
  align-self: center;
  color: var(--primary700);
  border: 1px solid var(--primary700);
  border-radius: 4px;
  background-color: var(--neutralWhite);
}

.schoolListItemData {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.schoolListItemDataLeft {
  padding-top: 16px;
  border-top: 1px dashed var(--neutral100);
}

.schoolListItemDataRight {
  flex: 1;
  gap: 12px;
}

.schoolListItemAddress {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 12px;
}

.schoolListItemDate {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
  border-radius: 8px;
  background-color: var(--neutral50);
}

.schoolListItemType {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: var(--neutral50);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 24px;
  border-top: 1px solid var(--neutral100);
}

.footerContent {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 24px;
}

.footerBtns {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 48px;
}

.footerBtn {
  padding: unset;
  font-weight: 600;
  line-height: 125%;
  color: var(--primary900);
  background-color: unset;
}
